<div class="forecast">
  <div class="forecast-unit" >
    <h6>{{forecast.date | date: 'EEEE'}}</h6>
    <div> 
      <img
        class="forecastIcon"
        src="assets/img/{{forecast.icon}}.svg"
        height="30px"
        width="30px"
        alt="partly cloudy"
      />

      <div class="forecastDayParameters">
        <div>Night: {{forecast.temperature.night}}°C<span class="verticalLine">|</span> Day: {{forecast.temperature.day}}°C</div>
        <div>Humidity: {{forecast.humidity}}%</div>
      </div>
    </div>
  </div>
</div>
