<form class = 'form'>
  
  <mat-form-field class="input-field" appearance="outline">
    <mat-label>City:</mat-label>
    <input matInput  />
  </mat-form-field>
  <button mat-raised-button color="primary" class = 'btn'>Search</button>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class = 'celsius-fahrenheit-buttons'>
    <mat-button-toggle value="celsius">°C</mat-button-toggle>
    <mat-button-toggle value="fahrenheit">°F</mat-button-toggle>
  </mat-button-toggle-group>
  <span class="slider">Dark mode🌘 <mat-slide-toggle></mat-slide-toggle></span>
</form>

<h1>Zaporizhzhia, Ukraine 🇺🇦</h1>

<div>
  <h2>6°</h2>
  <img
    src="assets/partly_cloudy.png"
    height="70px"
    width="70px"
    alt="partly cloudy"
  />
</div>

<h4>Night: 6° || Day: 2°</h4>
<div>Wednesday 07.00</div>
<div>Mostly cloudy</div>
<div class="" forecast>
  <div class="'forecast-unit">
    <h6>Today</h6>
    <div>
      <img
        src="assets/partly_cloudy.png"
        height="30px"
        width="30px"
        alt="partly cloudy"
      />
      <div>80%</div>
    </div>
    <div><span>3°</span><span>8°</span></div>
  </div>
</div>
