h1 {
  font-weight: 600;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  margin-right: 0;
}
h2 {
  font-weight: 300;

  font-size: 66px;
}
h4 {
  font-weight: 400;
}
.verticalLine {
  color: var(--main-color);
  opacity: 0.3;
}
.icon{
  margin-left: 0px;
}