<div *ngIf="cityData.city" class="todayData">

  <h1>
    {{ cityData.city }}
    <span *ngIf="cityData.country === 'UA'">🇺🇦</span>
  </h1>
  <h4>{{cityData.date | date: 'EEEE, d MMMM'}}</h4>
  

  <h2>{{ cityData.temperature.celsius}}°C</h2>
    <img
    class="icon"
    src="assets/img/{{cityData.icon}}.svg"
    height="270px"
    width="270px"
    alt="{{cityData.description}} image"
  />
  <h4>{{ cityData.description}}</h4>
  <h4>
    Night: {{ cityData.temperature.night}}°C
    <span class="verticalLine">|</span> Day: {{ cityData.temperature.day }}°C
  </h4>



  <!-- <div>Wednesday 07.00</div> -->
  <h4>
    Humidity: {{ cityData.humidity }} % <span class="verticalLine">|</span>
    Wind:
    {{ cityData.wind }} km/h
  </h4>
  <div>
    ( updated at: {{cityData.date | date:'HH:mm'}} )
  </div>
</div>
