<form class="form">
  <mat-form-field class="input-field" appearance="outline">
    <mat-label>City:</mat-label>
    <!-- <input [(ngModel)]="cityName" name="cityName" matInput  /> -->
    <input matInput [(ngModel)]="city" name="cityName" />
  </mat-form-field>
  <!-- <button mat-raised-button color="primary" class="btn" (click)="submitValue()">
    Search
  </button> -->
  <button mat-raised-button color="primary" class="btn" (click)="changeCity()">
    Search
  </button>

  <mat-button-toggle-group
    name="fontStyle"
    aria-label="Font Style"
    class="celsius-fahrenheit-buttons"
  >
    <mat-button-toggle value="celsius">°C</mat-button-toggle>
    <mat-button-toggle value="fahrenheit">°F</mat-button-toggle>
  </mat-button-toggle-group>
  <span class="slider">Dark mode🌘 <mat-slide-toggle></mat-slide-toggle></span>
</form>
